@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">Welcome to your character builder</h1>
<div class="d-flex align-items-center">
    <div class="m-3">
        <div class="input-group mb-3" id="clothing">
            <label class="input-group-text">Clothing</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
            </select>
            <button class="btn btn-outline-danger" type="button">Clear</button>
        </div>
        <div class="input-group mb-3" id="eyeShape">
            <label class="input-group-text">Eye shape</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
            </select>
            <button class="btn btn-outline-danger" type="button">Clear</button>
        </div>
        <div class="input-group mb-3" id="headwear">
            <label class="input-group-text">Headwear</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
            </select>
            <button class="btn btn-outline-danger" type="button">Clear</button>
        </div>
        <div class="input-group mb-3" id="mouthShape">
            <label class="input-group-text">Mouth shape</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
            </select>
            <button class="btn btn-outline-danger" type="button">Clear</button>
        </div>
        <div class="input-group mb-3" id="noseShape">
            <label class="input-group-text">Nose shape</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
            </select>
            <button class="btn btn-outline-danger" type="button">Clear</button>
        </div>
        <div class="input-group mb-3" id="shellColor">
            <label class="input-group-text">Shell color</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
            </select>
            <button class="btn btn-outline-danger" type="button">Clear</button>
        </div>
    </div>
    <canvas></canvas>
</div>
